*{
    padding: 0px;/*Es el relleno espacio de cada elemento*/
    margin: 0px;/*Es el espacio margenes con el document*/
}
.agrupar{
    background-color: black;
    color: whitesmoke;
    font-family: sans-serif;
    width: 1000px;
    margin: 15px/*Modifica arriba y abajo, solo el eje y */ auto/*Modifica solo a los lados, es decir al eje x */;
}
.header{
    background: purple;
    border: 1px solid white;
    padding: 20px;
}
body{
    text-align: center; 
}
h1{
    font-size: 25px;
    color: greenyellow;
}
header, section, footer, aside, nav, article, hgroup{
    display: block; 
}