*{
    padding: 0px;
    margin: 0px;
}
.agrupar{
    background-color: black;
    color: whitesmoke;
    font-family: sans-serif;
    width: 1000px; /*borde*/
    margin: 15px auto;
}
.cabecera{
    background: purple;
    border: 1px solid white;
    padding: 20px;
}
.cabecera h1{
    text-align: left; /*alinear hacia la izquierda*/
}
.buscador{
    background-color: blue;
    padding: 5px 15px; /*El primer contenido hace referencia a x, el segundo a y */
    text-align: left;
}
.buscador li{ /*selecciona los elementos los cuales tienen la clase buscador, y el elemento li */
    list-style: none; /*No tenga ningun estilo por defecto*/
    font: bold 15px verdana;
    padding: 3px;
    margin-left: 5px;
    display: inline-block; /*ya no son elementos en bloque debajo del otro, sino elementos en bloque pero uno al lado del otro*/
}
body{
    text-align: center; 
}
h1{
    font-size: 25px;
    color: greenyellow;
}
header, section, footer, aside, nav, article, hgroup{
    display: block; 
}